<div class="container push-down" id="contact">
	<h1 class="title">Contact</h1>
	<hr>
	<div class="container-md">
		<div class="container-full">
			<div class="left">
				<h3>BBQ Bar</h3>
				<p>4580 Agriculture Lane</p>
				<p>24844, WV</p>
			</div>
			
			<div class="right">
				<h3>Opening hours</h3>
				<p>Mon-Fri 10:00 AM - 9:00 PM</p>
				<p>Weekend 10:00 AM - 10:30 PM</p>
			</div>
			<div class="reservation-btn">
				<button type="button" class="res-btn" (click)="toggleModal('book', true)"><i class="fas fa-map-marker"></i>Reservation</button>
			</div>
		</div>
	</div>
</div>