<div id="hero-banner">
	<div class="container-md push-down">
		<div class="left">
			<h2 class="title">BBQ Bar</h2>
			<p class="quote">Eat. Drink. Fun.</p>
			<button class="book-a-table btn" type="button" (click)="toggleModal('book', true)">book a table</button>
			<button class="menu btn" (click)="toggleModal('menu', true)">full menu</button>
		</div>
		<div class="right">
			<p><span class="fade">Contact </span>304-938-4422</p>
			<p><span class="fade">Open Hours </span>Mon-Fri 10:00 AM - 9:00 PM / Weekend 10:00 AM - 10:30 PM</p>
		</div>
	</div>
</div>