div.content {
    font-family: "Rozha One", serif;

    p {
        color: #999;
        padding: 10px 0;
        font-family: 'Crimson Text', serif;

        &:first-of-type {
            margin-top: 1.5rem;
        }

    }

    span.bold {
        color: #443731;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0 10px;

        &:first-of-type {
            padding-right: 1rem;
        }

        &:last-of-type {
            float: right;
            font-size: 1.85rem;
        }
    }
}

h3.type {
    position: relative;
    top: 1rem;
    font-size: 1.6rem;
    text-align: center;
}